<link rel="stylesheet" href="~/css/edit.css">
@{
  Layout = "_Layout";
}

@model Schedule.Models.Semester

<h2>Add a sport</h2>

<h4>Add a sport for this semester: @Html.DisplayFor(model => model.Term)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.SemesterId)

  @Html.Label("Select sport")
  @Html.DropDownList("SportId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>