@{
  Layout = "_Layout";
}

@model Factory.Models.License

<h2>Add an engineer</h2>

<h4>Add an engineer for this License: @Html.DisplayFor(model => model.Title)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.LicenseId)
  @Html.HiddenFor(model => model.EngineerId)

  @Html.Label("Select engineer")
  @Html.DropDownList("EngineerId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p><br>
<p>@Html.ActionLink("Home", "Index", "Home")</p>