@* <link rel="stylesheet" href="~/css/edit.css"> *@
@{
  Layout = "_Layout";
}

@model Factory.Models.License;

<h2>License Details</h2>
<h3>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</h3>

@if(@Model.JoinSmstrSprt.Count == 0)
{
  <p>This license has no engineers</p>
}
else
{
  <h4>Engineers who have this license:</h4>
  <ul>
  @foreach(var join in Model.JoinSmstrSprt)
  {
    <li>@join.Engineer.Title</li>
  }
  </ul>
}
@if(@Model.JoinSmstrPlyr.Count == 0)
{
  <p>This license has no machines</p>
}
else
{
  <h4>Machines covered by this license:</h4>
  <ul>
  @foreach(var join in Model.JoinSmstrPlyr)
  {
    <li>@join.Machine.Name</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to Licenses", "Index")</p>
<p>@Html.ActionLink("Edit License", "Edit", new { id = Model.LicenseId })</p>
<p>@Html.ActionLink("Delete License", "Delete", new { id = Model.LicenseId })</p>
<p>@Html.ActionLink("Add an Engineer", "AddEngineer", new { id = Model.LicenseId })</p>
<p>@Html.ActionLink("Add a Machine", "AddMachine", new { id = Model.LicenseId })</p>