@* <link rel="stylesheet" href="~/css/edit.css"> *@
@{
  Layout = "_Layout";
}

@model Factory.Models.License

<h2>Edit</h2>

<h4>Edit this license: @Html.DisplayFor(model => model.Title)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.LicenseId)

  @Html.LabelFor(model => model.Title)
  @Html.EditorFor(model => model.Title)

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>