@* <link rel="stylesheet" href="~/css/edit.css"> *@
@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h4>Add a new machine</h4>

@using (Html.BeginForm())
{
  @Html.Label("Machine Name")
  @Html.TextBoxFor(model => model.Name)

  @* @Html.Label("Machine Grade")
  @Html.TextBoxFor(model => model.Grade) *@

  <input type="submit" value="Add new machine" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all machines", "Index")</p>