@* <link rel="stylesheet" href="~/css/edit.css"> *@
@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Machine Details</h2>
<h3>Machine Name: @Html.DisplayFor(model => model.Name)</h3>
@* <h3>Machine Grade: @Html.DisplayFor(model => model.Grade)</h3> *@

@if(@Model.JoinMachEngr.Count == 0)
{
  <p>This machine is not assigned to any engineers</p>
}
else
{
  <h4>Engineers assigned to this machine:</h4>
  <ul>
  @foreach(var join in Model.JoinMachEngr)
  {
    <li>@join.Engineer.Name</li>

    @using (Html.BeginForm("DeleteEngineer", "Machines"))
    {
      @Html.Hidden("joinId", @join.EngineerId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}
@if(@Model.JoinLicMach.Count == 0)
{
  <p>This machine is not covered by any License</p>
}
else
{
  <h4>License for this machine:</h4>
  <ul>
  @foreach(var join in Model.JoinLicMach)
  {
    <li>@join.License.Title</li>

    @using (Html.BeginForm("DeleteLicense", "Machines"))
    {
      @Html.Hidden("joinId", @join.LicenseId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Machine", "Edit", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Delete Machine", "Delete", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Add a Engineer", "AddEngineer", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Add a License", "AddLicense", new { id = Model.MachineId})</p><br>
<p>@Html.ActionLink("Home", "Index", "Home")</p>