<link rel="stylesheet" href="~/css/edit.css">
@{
  Layout = "_Layout";
}

@model Schedule.Models.Player

<h2>Edit</h2>

<h4>Edit this player: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.PlayerId)

  @Html.Label("", "Change Player Name", new {@class="labelfor"})
  @Html.EditorFor(model => model.Name)
  
  @Html.Label("Change player grade")
  @Html.EditorFor(model => model.Grade)

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>