<link rel="stylesheet" href="~/css/edit.css">
@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Edit</h2>

<h4>Edit this machine: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.Label("", "Change Machine Name", new {@class="labelfor"})
  @Html.EditorFor(model => model.Name)
  
  @* @Html.Label("Change machine grade")
  @Html.EditorFor(model => model.Grade) *@

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>