<link rel="stylesheet" href="~/css/edit.css">
@{
  Layout = "_Layout";
}

@model Schedule.Models.Sport

<h2>Add a player</h2>

<h4>Add a player for this sport: @Html.DisplayFor(model => model.Title)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.SportId)

  @Html.Label("Select player")
  @Html.DropDownList("PlayerId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>