<link rel="stylesheet" href="~/css/edit.css">
@{
  Layout = "_Layout";
}

@model Schedule.Models.Player

<h4>Add a new player</h4>

@using (Html.BeginForm())
{
  @Html.Label("Player Name")
  @Html.TextBoxFor(model => model.Name)

  @Html.Label("Player Grade")
  @Html.TextBoxFor(model => model.Grade)

  <input type="submit" value="Add new player" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all players", "Index")</p>