@* <link rel="stylesheet" href="~/css/edit.css"> *@
@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Add a license</h2>

<h4>Add a license for this engineer: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.Label("Select license")
  @Html.DropDownList("LicenseId")  //Looks for 'ViewBag.LicenseId' [on Ln 102 of ''EngineersController.cs''] and populates SelectList.

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p><br>
<p>@Html.ActionLink("Home", "Index", "Home")</p>