@* <link rel="stylesheet" href="~/css/edit.css"> *@
@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;

<h2>Engineer Details</h2>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.JoinMachEngr.Count == 0)
{
  <p>There are no machines assigned to this engineer</p>
}
else
{
  <h4>This engineer's list of assigned machines:</h4>
  <ul>
  @foreach(var join in Model.JoinMachEngr)
  {
    <li>@join.Machine.Name</li>
  }
  </ul>
}

@if(@Model.JoinLicEngr.Count == 0)
{
  <p>This engineer currently does not have a License</p>
}
else
{
  <h4>This engineer's license(s):</h4>
  <ul>
  @foreach(var join in Model.JoinLicEngr)
  {
    <li>@join.License.Title</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to engineers", "Index")</p>
<p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Add License", "AddLicense", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Add Machine", "AddMachine", new { id = Model.EngineerId })</p><br>
<p>@Html.ActionLink("Home", "Index", "Home")</p>